requests
flask
flask_sqlalchemy
flask_login
pillow
exifread
torch
torchvision

flask_socketio
pynput
pyautogui
fastapi
psutil
humanize
uvicorn
httpx
pathlib
starlette
python-multipart
pyftpdlib
